<!DOCTYPE html>
{% load static %}
<html lang="en">
developer

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'IdeaApp/css/design.css' %}">
    <title>IdeaApp</title>
</head>

<body>
    <nav class="nav1">

        <div>
            <ul>
                <li><img src="{% static 'IdeaApp/images/A_logo.webp' %}" alt="" height="50px" width="200px"></li>
                <li><img src="{% static 'IdeaApp/images/hslogo.jpg' %}" style="border-radius:35%;" alt="" height="50px"
                        width="50px"></li>


                <li>
                    <!-- <img src="{% static 'IdeaApp/images/laptop.png' %}" style="border-radius:35%;" alt="" height="50px"
                    width="50px" alt=""> -->
                    <h6 style="font-family:'Times New Roman', Times, serif; font-weight: lighter;font-size:12px; margin-top:8px; display: inline-block;">
                    Second Medical Opinion</h6>
                    <h5>Book Consultaion</h5>
                </li>


                <li>
                    <h6
                        style="font-family:'Times New Roman', Times, serif; font-weight: lighter;font-size:12px; margin-top:8px;">
                        Call Us On</h6>
                    <h5>985 896 2222</h5>
                </li>


                <li>
                    <h6
                        style="font-family:'Times New Roman', Times, serif; font-weight: lighter;font-size:12px; margin-top:8px;">
                        Email Us On</h6>
                    <h5>info@mediretreats.com</h5>
                </li>
            </ul>
        </div>
    </nav>

    <header>
        <nav>
            <div class="right">
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Treatments +</a></li>
                    <li><a href="">Destinations +</a></li>
                    <li><a href="">Hospitals</a></li>
                    <li><a href="">FAQs</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Request A Quote</a></li>
                    <input placeholder="Search" class="" id="searchid" type="text" name="searchvalue"
                        style="padding:7px; background-color: blue;">
                </ul>
            </div>
        </nav>
    </header>

    <main style="padding-bottom: 200%;">
        <section class="firstsection">
            <div class="leftsection">
                <div class="categories">
                    <a href="" style="color: white; text-decoration: none;">Home </a><a href=""
                        style="color:red; text-decoration: none;">></a>
                    <a href="" style="color: white; text-decoration: none;">Treatments </a><a href=""
                        style="color:red; text-decoration: none;">></a>
                    <a href="" style="color: white; text-decoration: none;">Orthopaedics </a><a href=""
                        style="color:red; text-decoration: none;">></a>
                    <a href="" style="color: white; text-decoration: none;">Knee Replacement</a>
                </div>
                <div>
                    <h4>Total Knee Replacement</h4>
                </div>

                <div style="font-size: small; margin-top: 2px;">
                    <p>Total knee replacement is a surgery to remove and replace the whole damaged knee joint with an
                        artificial joint.</p>
                </div>
                <div>
                    <a href=""
                        style="background-color:dodgerblue; color: white; text-decoration: none; font-size: medium; padding: 10px; padding-left: 30px; padding-right: 30px;">Enquire
                        Now</a>
                </div>
            </div>

            <div class="rightsection" style="padding-left: 5%;">
                <img src="{% static 'IdeaApp/images/knee-pain.jpg' %}"
                    style="height:110%; width:110%; border-radius:50%;" alt="">
            </div>
        </section>

        <div>
            <nav class="nav1" style="border-bottom: 2px solid rgba(128, 128, 128, 0.493);">
                <div>
                    <ul>
                        <li><a href="" style="color: black;">Overview</a></li>
                        <li><a href="" style="color: black;">Eligibility</a></li>
                        <li><a href="" style="color: black;">Preparation</a></li>
                        <li><a href="" style="color: black;">About Treatment</a></li>
                        <li><a href="" style="color: black;">Post-Treatment Care</a></li>
                        <li><a href="" style="color: black;">Recovery Tips</a></li>
                        <li><a href="" style="color: black;">FAQs</a></li>
                        <li><a href="" style="color: black;">Patient Stories</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <section class="secondsection">

            <div style="margin-top:5%; border-bottom: 1px dashed rgb(97, 199, 247); color: black;">
                <h3>Treatment Overview<span style="color: red;">.</span></h3><br>
                <p style="display:inline-flex; margin-bottom: 4%;">Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Tempora similique impedit quasi? Reiciendis, cum itaque praesentium minima, voluptatibus
                    voluptates dicta repellendus id ratione nam vero architecto! <br> Omnis cumque hic ad eum
                    asperiores. In cum consectetur quae dolorum eius perspiciatis nam laudantium harum quaerat iure
                    quasi doloribus exercitationem sunt commodi recusandae id, modi dolores doloremque beatae minima.
                    <br> Neque, earum. Obcaecati neque vero minima provident qui non, nisi delectus sed numquam est iste
                    placeat aliquam alias, perferendis atque explicabo impedit corrupti voluptate architecto sunt totam
                    temporibus eos beatae. Sunt quidem beatae animi qui quam officiis porro consequatur quis, maiores,
                    velit, dignissimos odio?<img src="{% static 'IdeaApp/images/knee.webp' %}"
                        style="background-color: blue; height:38%; width:38%; margin-left: 5%;" alt="">
                </p>
            </div>




            <div style="margin-top:5%; border-bottom: 1px dashed rgb(97, 199, 247); color: black;">
                <h3>Eligibility For Treatment<span style="color: red;">.</span></h3><br>
                <p style="display:inline-flex; margin-bottom: 4%;">Any individual who has tried diet and exercise but
                    failed to lose weight is considered as a good candidate for gastric bypass. Although gastric bypass
                    aids in weight loss, it is not an appropriate option for everyone. Based on the overall health and
                    certain medical guidlines, the doctor will decide whether you are eligible for gastric bypass or
                    not. <br>In general, gastric bypass could be a good option if:
                    <li>The BMI(body mass index) is 40 or more</li>
                    <li>Your BMI is 30 or more with severe weight-related health conditions like type-2 diabetes and hig
                        blood pressure</li>
                    <li style="margin-bottom: 4%;">You are willing to make permanent changes in the lifestyle</li>
                </p>
            </div>

            <div style="margin-top:5%; border-bottom: 1px dashed rgb(97, 199, 247); color: black;">
                <h3>Preparation Before Treatment<span style="color: red;">.</span></h3><br>
                <p style="display:inline-flex; margin-bottom: 4%;">Any individual who has tried diet and exercise but
                    failed to lose weight is considered as a good candidate for gastric bypass. Although gastric bypass
                    aids in weight loss, it is not an appropriate option for everyone. Based on the overall health and
                    certain medical guidlines, the doctor will decide whether you are eligible for gastric bypass or
                    not. <br>In general, gastric bypass could be a good option if:
                    <li>The BMI(body mass index) is 40 or more</li>
                    <li>Your BMI is 30 or more with severe weight-related health conditions like type-2 diabetes and hig
                        blood pressure</li>
                    <li style="margin-bottom: 4%;">You are willing to make permanent changes in the lifestyle</li>
                </p>
            </div>

            <div style="margin-top:5%; border-bottom: 1px dashed rgb(97, 199, 247); color: black;">
                <h3>About Treatment<span style="color: red;">.</span></h3><br>
                <p style="display:inline-flex; margin-bottom: 4%;">Any individual who has tried diet and exercise but
                    failed to lose weight is considered as a good candidate for gastric bypass. Although gastric bypass
                    aids in weight loss, it is not an appropriate option for everyone. Based on the overall health and
                    certain medical guidlines, the doctor will decide whether you are eligible for gastric bypass or
                    not. <br>In general, gastric bypass could be a good option if:
                    <li>The BMI(body mass index) is 40 or more</li>
                    <li>Your BMI is 30 or more with severe weight-related health conditions like type-2 diabetes and hig
                        blood pressure</li>
                    <li style="margin-bottom: 4%;">You are willing to make permanent changes in the lifestyle</li>
                </p>
            </div>

            <div style="margin-top:5%; border-bottom: 1px dashed rgb(97, 199, 247); color: black;">
                <h3>Post-Treatment Care Treatment<span style="color: red;">.</span></h3><br>
                <p style="display:inline-flex; margin-bottom: 4%;">Any individual who has tried diet and exercise but
                    failed to lose weight is considered as a good candidate for gastric bypass. Although gastric bypass
                    aids in weight loss, it is not an appropriate option for everyone. Based on the overall health and
                    certain medical guidlines, the doctor will decide whether you are eligible for gastric bypass or
                    not. <br>In general, gastric bypass could be a good option if:
                    <li>The BMI(body mass index) is 40 or more</li>
                    <li>Your BMI is 30 or more with severe weight-related health conditions like type-2 diabetes and hig
                        blood pressure</li>
                    <li style="margin-bottom: 4%;">You are willing to make permanent changes in the lifestyle</li>
                </p>
            </div>

            <div style="margin-top:5%; border-bottom: 1px dashed rgb(97, 199, 247); color: black;">
                <h3>Treatment Recovery Tips<span style="color: red;">.</span></h3><br>
                <p style="display:inline-flex; margin-bottom: 4%;">Any individual who has tried diet and exercise but
                    failed to lose weight is considered as a good candidate for gastric bypass. Although gastric bypass
                    aids in weight loss, it is not an appropriate option for everyone. Based on the overall health and
                    certain medical guidlines, the doctor will decide whether you are eligible for gastric bypass or
                    not. <br>In general, gastric bypass could be a good option if:
                    <li>The BMI(body mass index) is 40 or more</li>
                    <li>Your BMI is 30 or more with severe weight-related health conditions like type-2 diabetes and hig
                        blood pressure</li>
                    <li style="margin-bottom: 4%;">You are willing to make permanent changes in the lifestyle</li>
                </p>
            </div>

            <div>

                <div style=" border-bottom: 1px dashed rgb(97, 199, 247); color: black;">
                    <div style="margin-top:5%; color: black;">
                        <h3
                            style="margin-bottom: 5px; border-bottom: 2px solid rgba(204, 201, 201, 0.658); padding-bottom: 3%;">
                            Treatment FAQs<span style="color: red;">.</span></h3><br>

                        <button class="accordion">How do I know the clinic I am searching is verified?</button>
                        <div class="panel">
                            <p style="font-size: small;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                                quos temporibus eaque et sequi nostrum odit, distinctio laudantium praesentium quidem
                                fuga ullam ad? Nemo aspernatur accusantium eos laboriosam dolor animi?</p>
                        </div>

                        <button class="accordion">I can't travel travel alone so can some family member or friend of
                            mine accompany me?</button>
                        <div class="panel">
                            <p style="font-size: small;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                                quos temporibus eaque et sequi nostrum odit, distinctio laudantium praesentium quidem
                                fuga ullam ad? Nemo aspernatur accusantium eos laboriosam dolor animi?</p>
                        </div>

                        <button class="accordion">Can I see my doctor before I decide and what about my post
                            recovery?</button>
                        <div class="panel">
                            <p style="font-size: small;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                                quos temporibus eaque et sequi nostrum odit, distinctio laudantium praesentium quidem
                                fuga ullam ad? Nemo aspernatur accusantium eos laboriosam dolor animi?</p>
                        </div>

                        <button class="accordion">How do I share my reports and medical cases with the clinic of my
                            choice?</button>
                        <div class="panel">
                            <p style="font-size: small;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                                quos temporibus eaque et sequi nostrum odit, distinctio laudantium praesentium quidem
                                fuga ullam ad? Nemo aspernatur accusantium eos laboriosam dolor animi?</p>
                        </div>

                    </div>
                </div>

            </div>

        </section>
    </main>

    <footer>

        <div>


            <div class="foot">
                <h5 style="font-weight: lighter;">Stay healthy and strong to enjoy life</h5>
                <h1 style="font-weight: lighter;">We have team of healthcare experts</h1>
                <div style="margin-top: 20px;">
                    <a href=""
                        style="background-color:blue; color: white; text-decoration: none; font-size: medium; padding: 6px; padding-left: 30px; padding-right: 30px; margin-right: 8px;">Get
                        In Touch</a>
                    <p style=" display:inline-block; border-left: 2px solid rgb(211, 203, 203);padding: 6px;">+91 898
                        777 9999</p>

                </div>


            </div>
            <div class="footer">
                <div class="footer-first">
                    <h3 style="margin-bottom: 15px;">Important Links</h3>
                    <ul>
                        <li><a href="" style="color: white; text-decoration: none;">- Home</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- About Us</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- FAQs</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Blog</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-second">
                    <h3 style="margin-bottom: 15px;">Top Hospitals</h3>
                    <ul>
                        <li><a href="" style="color: white; text-decoration: none;">- Apollo Hospital Delhi</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Medanta Hospital Gurgaon</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Max Hospital Delhi</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Jaslok Hospital Mumbai</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Artemis Hospital Gurgaon</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Fortis Hospital Gurgaon</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- View All</a></li>
                    </ul>
                </div>
                <div class="footer-third">
                    <h3 style="margin-bottom: 15px;">Speciality Treatments</h3>
                    <ul>
                        <li><a href="" style="color: white; text-decoration: none;">- Knee Replacement Surgeon</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Urologist</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Spine Surgeon</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- ENT Surgeon</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Orthopaedic</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Cardiologist</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- View All</a></li>
                    </ul>
                </div>


                <div class="footer-forth">

                    <div class="join-mediretreats">
                        <a href="">
                            <div><img class="add-person-image" src="{% static 'IdeaApp/images/add-person.png' %}"
                                    alt="No Image">
                            </div>
                            <h5 class="add-doc">Are you Doctor/Hospital?</h5>
                            <h4 class="join-doc">Join Mediretreats</h4>
                            <p class="join-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, veniam.
                            </p>
                        </a>
                    </div>

                    <h3 style="margin-bottom: 15px;">Medical Tourism Destinations</h3>
                    <ul>
                        <li><a href="" style="color: white; text-decoration: none;">- Medical Tourism In India</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- Medical Tourism In Sri Lanka</a>
                        </li>
                        <li><a href="" style="color: white; text-decoration: none;">- Medical Tourism In UAE</a></li>
                        <li><a href="" style="color: white; text-decoration: none;">- View All</a></li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="footer-links" style="border-top: 0.8px solid rgba(224, 218, 218, 0.411);">
            
            <nav class="nav2">
                
                <div class="nav2">
                    
                    <ul>
                        <!-- <li><img src="{% static 'IdeaApp/images/A_logo.webp' %}" alt="" height="80px" width="250px">
                        </li> -->
                        <li>
                            <h6 style="font-size:smaller; margin-top:8px;">About Aafiya Mediretreats</h6>
                            <p style="font-size:smaller; margin-top:8px; text-align: justify;">Aafiya Mediretreats is a
                                free, confidential, independent resource for patients and industry providers. Our
                                mission is to provide central portal where patients, Medical Tourism providers,
                                hospitals, clinics, employers,and insurance companies can all find the information they
                                need. Our site focuses on patients looking for specific knowledge in the fields of
                                medical tourism, dental tourism, and health tourism.</p>
                        </li>
                        <li>
                            <h6
                                style="font-family:'Times New Roman', Times, serif; font-weight: lighter;font-size:12px; margin-top:8px; padding:30px;">
                                Follow Us On</h6>

                                <h6>Customer Service</h6>
                                <h6 style="color:rgb(50, 50, 255);">+91 4554 54848 454 84545</h6>

                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <div class="footer-rights">
            Copyright © 2020 Aafiya Mediretreats. All Rights Reserveds. Designed by IdeaApp
            <a href="" style="color: white; text-decoration: none; margin-left: 200px;">Terms And Conditions</a>
            <a href="" style="color: white; text-decoration: none; margin-left: 50px">Privacy Policy</a>
        </div>

    </footer>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");

                var panel = this.nextElementSibling;
                if (panel.style.display === "block") {
                    panel.style.display = "none";
                } else {
                    panel.style.display = "block";
                }
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                } else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }
            });
        }

    </script>

</body>

</html>